<section id="about" class="container col-11 col-lg-10 my-5 mx-auto">
  <p class="fs-5 text-center">Get to know more</p>
  <h1 class="fw-bold text-center">About Me</h1>
  <div class="row mt-4">
    <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
      <img class="about-pic img-fluid rounded-5" src="./assets/about.jpeg" alt="Kavindu Rashmika's about image">
    </div>
    <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center">
      <div class="row w-100">
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-award fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Experience</h3>
              <p class="card-text">
                <b>1.</b> Trainee Engineer (Digital Engineering) at IDET (Institute of Digital Engineering Technology)<br>
                <i>08th June 2024 - Present</i><br><br>
                <b>2.</b> Manager at Bibile Estate Workers Housing Cooperative Society<br>
                <i>2020-Sep to 2021-July</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-graduation-cap fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Education</h3>
              <p class="card-text">
                <b>1.</b> BICT (Honors) - University of Vauniya<br>
                <i>Present</i><br><br>
                <b>2.</b> Diploma in Enterprise Software Application Development - Institute of Digital Engineering Technology<br>
                <i>Specializing in Java Programming (OOPC, UI/UX Designing, DBMS/SQL)</i>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100 text-center mt-3">
        <p>
          I am W.A.D.Kavindu Rashmika Wasala Arachchi, an undergraduate student at the University of Vauniya, specializing in Java, Spring Boot, UI/UX Designing, and Angular.
          I have a strong background in developing scalable microservices, managing databases such as MySQL and MongoDB, and designing user-friendly interfaces.
          I am highly adaptable, reliable, and self-motivated, with a passion for solving complex problems and delivering high-quality solutions.
          Currently, I am expanding my technical expertise and contributing to enterprise-level software solutions as a Trainee Engineer at IDET.
        </p>
      </div>
    </div>
  </div>
</section>
