
  <div class="row text-center text-md-start">
    <!-- Profile Image Section -->
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
      <img src="./assets/profile.jpeg" alt="Profile image" class="rounded-circle img-fluid profile-pic">
    </div>

    <!-- Profile Text & Buttons -->
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
      <p class="fs-5">Hello, I'm</p>
      <h1 class="fw-bold">W.A.D.K.R.Wasala Arachchi</h1>
      <p class="subtitle fs-4">Undergraduate Student</p>

      <div class="d-flex justify-content-center mt-4">
        <button class="bt btn-color-2 me-2" (click)="openResume()">
          Download CV
        </button>
        <button class="bt btn-color-1" (click)="scrollTo('contacts')">
          Contact Me
        </button>
      </div>

      <!-- Social Media Icons -->
      <div class="d-flex justify-content-center mt-3">
        <i class="fab fa-linkedin fa-3x icon mx-2 pointer" (click)="goToLinkedin()"></i>
        <i class="fab fa-github fa-3x icon mx-2 pointer" (click)="goToGithub()"></i>
      </div>
    </div>
  </div>

